<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.suanfa8.algocrazyapi.mapper.ArticleTagMapper">

    <!-- 根据文章ID查询标签ID列表 -->
    <select id="selectTagIdsByArticleId" resultType="java.lang.Integer">
        SELECT tag_id
        FROM article_tags
        WHERE article_id = #{articleId}
    </select>

    <!-- 根据标签ID查询文章ID列表 -->
    <select id="selectArticleIdsByTagId" resultType="java.lang.Integer">
        SELECT article_id
        FROM article_tags
        WHERE tag_id = #{tagId}
    </select>

    <!-- 删除文章的所有标签关联 -->
    <delete id="deleteByArticleId">
        DELETE FROM article_tags
        WHERE article_id = #{articleId}
    </delete>

</mapper>
