<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.suanfa8.algocrazyapi.mapper.UserMapper">

    <select id="selectByUsername" resultType="com.suanfa8.algocrazyapi.entity.User">
        SELECT * FROM suanfa8_user WHERE username = #{username}
    </select>

</mapper>
